body{
    font-family: Lato!important;
}

#canvasHolder {
    height: 85vh;
}

.jumbotron {
    background-color: ##5bc0de;
    color: black;
}
.nav-tabs {
    margin-bottom: 0;
}

.inline {
    display: inline-block!important;
    padding: 10px;
}
