
<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Body</title>

<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
<link href="./css/style.css" rel="stylesheet">

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

<script src="./js/app.js"></script>

<script id="shader-vs" type="x-shader/x-vertex">
   attribute vec3 aVertexNormal;
   attribute vec3 aVertexPosition;
   attribute vec4 aVertexColor;

    uniform mat4 uMVMatrix;
    uniform mat4 uPMatrix;
    uniform mat3 uNMatrix;
    uniform vec3 uLightPosition;
    uniform vec3 uAmbientLightColor;
    uniform vec3 uSpecularLightColor;

    const float shininess = 40.0;

    varying vec4 vColor;

    void main(void) {

    // Get the vertex position in eye coordinates
    vec4 vertexPositionEye4 = uMVMatrix * vec4(aVertexPosition, 1.0);
    vec3 vertexPositionEye3 = vertexPositionEye4.xyz / vertexPositionEye4.w;

    // Calculate the vector (l) to the light source
    vec3 vectorToLightSource = normalize(uLightPosition - vertexPositionEye3);

    // Transform the normal (n) to eye coordinates
    vec3 normalEye = normalize(uNMatrix * aVertexNormal);

    // Calculate n dot l for diffuse lighting
    float diffuseLightWeightning = max(dot(normalEye,
                                    vectorToLightSource), 0.0);

    // Calculate the reflection vector (r) that is needed for specular light
    vec3 reflectionVector = normalize(reflect(-vectorToLightSource,
                                             normalEye));

    // The camera in eye coordinates is located in the origin and is pointing
    // along the negative z-axis. Calculate viewVector (v)
    // in eye coordinates as:
    // (0.0, 0.0, 0.0) - vertexPositionEye3
    vec3 viewVectorEye = -normalize(vertexPositionEye3);

    float rdotv = max(dot(reflectionVector, viewVectorEye), 0.0);

    float specularLightWeightning = pow(rdotv, shininess);

    // Sum up all three reflection components and send to the fragment shader
    vColor = vec4((uAmbientLightColor
                + aVertexColor.xyz * diffuseLightWeightning
                + uSpecularLightColor * specularLightWeightning), aVertexColor[3]);


     gl_Position = uPMatrix*uMVMatrix*vec4(aVertexPosition, 1.0);

    }
</script>

<script id="shader-fs" type="x-shader/x-fragment">
precision mediump float;
varying vec4 vColor;
void main(void) {
        gl_FragColor = vec4(vColor.x,vColor.y,vColor.z,vColor.w);
 }
</script>

<script src="./js/gl-matrix-min.js"></script><script src="./js/webgl-utils.js"></script><script src="./js/body.js"></script><script src="./js/webgl-obj-loader.js"></script></head>




<body ng-app="myApp" cz-shortcut-listen="true">
    <div class="container-fluid" ng-controller="myAppController">
       <div class="row">
           <div class="col-sm-6">
               <h1>Patient Report</h1>
           </div>
           <div class="col-sm-6 text-right">
               <h1>{{info["Name"]}}</h1>
           </div>
       </div>
       <div class="row">
           <div class="col-md-6" id="canvasHolder">
               <canvas id="myGLCanvas"></canvas>
           </div>

           <div class="col-md-6">
               <ul class="nav nav-tabs">
                   <li class="nav active"><a href="#A" data-toggle="tab">Basic Info</a>
                   </li>
                   <li class="nav"><a href="#B" data-toggle="tab">Injury</a>
                   </li>
                   <li class="nav"><a href="#C" data-toggle="tab">Medical History</a>
                   </li>
                   <li class="nav"><a href="#D" data-toggle="tab">Prescription</a>
                   </li>
               </ul>
               <div class="tab-content">
                   <div class="tab-pane fade in active" id="A">
                       <h3>Basic Info</h3>
                       <div class="alert alert-info" role="alert">
                           <div class="row">
                               <div class="col-sm-3">
                                   Name:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Name"]}}
                               </div>
                               <div class="col-sm-3">
                                   DOB:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Date of Birth"]}}
                               </div>
                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-sm-3">
                                   Age:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Age"]}}
                               </div>
                               <div class="col-sm-3">
                                   Sex:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Gender"]}}
                               </div>
                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-sm-3">
                                   Address:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Street Address"]}}, {{info["City"]}}, {{info["State"]}} {{info["Zip Code"]}}
                               </div>

                               <div class="col-sm-6">
                               </div>
                           </div>
                       </div>
                       <h3>Hospital Info</h3>
                       <div class="alert alert-info" role="alert">
                           <div class="row">
                               <div class="col-sm-3">
                                   Hospital Name:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Hospital"]}}
                               </div>
                               <div class="col-sm-3">
                                   Doctor Name:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Doctor"]}}
                               </div>
                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-sm-3">
                                   Hospital Address:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Hospital Address"]}}
                               </div>
                               <div class="col-sm-3">
                                   Visit Type:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Visit Type"]}}
                               </div>
                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-sm-3">
                                   Emergency Medical Care Given:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Emergency Medical Care Given"]}}
                               </div>
                               <div class="col-sm-3">
                                   Date of Visit:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Date of Visit"]}}
                               </div>
                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-sm-3">
                                   Chief Complaint:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Chief Complaint"]}}
                               </div>
                               <div class="col-sm-3">
                                   Pharmacy:
                               </div>
                               <div class="col-sm-3">
                                   {{info["Pharmacy"]}}
                               </div>
                           </div>
                       </div>
                       <h3>Vital Info</h3>
                       <div class="alert alert-info" role="alert">

                           <div class="row">
                               <div class="col-sm-3">
                                   BMI:
                               </div>
                               <div class="col-sm-3">
                                   {{info["MedicalHistory"]["Visit1"]["BMI"]}}
                               </div>
                               <div class="col-sm-3">
                                   Blood Pressure:
                               </div>
                               <div class="col-sm-3">
                                   {{info["MedicalHistory"]["Visit1"]["BloodPressure"]}}
                               </div>
                           </div>
                           <hr>
                           <div class="row">
                               <div class="col-sm-3">
                                   Blood Sugar:
                               </div>
                               <div class="col-sm-3">
                                   {{info["MedicalHistory"]["Visit1"]["BloodSugar"]}}
                               </div>
                               <div class="col-sm-3">
                                   Heart Rate:
                               </div>
                               <div class="col-sm-3">
                                   {{info["MedicalHistory"]["Visit1"]["HeartRate"]}}
                               </div>
                           </div>
                       </div>
                   </div>
                   <div class="tab-pane fade" id="B">
                       <div >
                           <div class="radio inline">
                             <label>
                               <input type="radio" name="optionsRadios" id="whole" value="whole" checked>
                               Whole
                             </label>
                           </div>
                           <div class="radio inline">
                             <label>
                               <input type="radio" name="optionsRadios" id="upper" value="upper" >
                               Upper
                             </label>
                           </div>
                           <div class="radio inline">
                             <label>
                               <input type="radio" name="optionsRadios" id="lower" value="lower" >
                               Lower
                             </label>
                           </div>
                           <div class="radio inline">
                             <label>
                               <input type="radio" name="optionsRadios" id="torso" value="torso" >
                               Torso
                             </label>
                           </div>
                           <div class="radio inline">
                             <label>
                               <input type="radio" name="optionsRadios" id="legs" value="legs" >
                               Legs
                             </label>
                           </div>
                           <div class="radio inline">
                             <label>
                               <input type="radio" name="optionsRadios" id="head" value="head" >
                               Head
                             </label>
                           </div>
                           <div class="inline">
                             <label>
                               <input id="rotSpeed" type="range" min="0" max="1000" step="50" />
                               Rotation speed
                             </label>
                           </div>
                       </div>
                       <br>
                       <div class="panel panel-info">
                           <div class="panel-heading">
                               <label>
                                 <input type="checkbox" id="allOptions" value="All" checked>
                                 All afflictions
                               </label>
                           </div>
                       </div>
                        <div class="checkbox" ng-repeat='(key, value) in info["Affected Regions"]'>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <label>
                                        <input type="checkbox" id="option" value="{{key}}" ng-click="change(key)">
                                        {{key}}
                                    </label>
                                </div>
                                <div class="panel-body">
                                    {{value}}
                                </div>
                            </div>
                        </div>
                    </div>
                   <div class="tab-pane fade" id="C">
                       <h3>Graphs of Medical History</h3>
                          <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              Select a Graph
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <li><a href="#">BMI</a></li>
                              <li><a href="#">Blood Pressure</a></li>
                              <li><a href="#">Blood Sugar</a></li>
                              <li><a href="#">Heart Rate</a></li>                              
                            </ul>
                          </div>
                   </div>
                   <div class="tab-pane fade" id="D">
                       <h3>Prescription</h3>
                       <h4>{{info["Prescription1"]}}</h4>
                       <div class="alert alert-info" role="alert">

                           <p class="text-center">{{info["PrescriptionAmount"]}} <br> {{info["PrescriptionTime"]}} <br> {{info["PrescriptionRefill"]}}
                               </p class="text-center">
                           <div class="Hover Rows">
                               <table class="table table-hover">
                                   <thead>
                                       <tr>
                                           <th></th>
                                           <th style="text-align: center">Sun</th>
                                           <th style="text-align: center">Mon</th>
                                           <th style="text-align: center">Tues</th>
                                           <th style="text-align: center">Wed</th>
                                           <th style="text-align: center">Thurs</th>
                                           <th style="text-align: center">Fri</th>
                                           <th style="text-align: center">Sat</th>
                                       </tr>
                                   </thead>

                                   <tbody>
                                       <tr>
                                           <th>Morning</th>
                                           <td align="center">{{info["PrescriptionSchedule"]["SunM"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["MM"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["TuesM"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["WM"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["ThursM"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["FM"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["SatM"]}}</td>
                                       </tr>
                                       <tr>
                                           <th>Afternoon</th>
                                           <td align="center">{{info["PrescriptionSchedule"]["SunA"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["MA"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["TuesA"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["WA"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["ThursA"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["FA"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["SatA"]}}</td>
                                       </tr>
                                       <tr>
                                           <th>Evening</th>
                                           <td align="center">{{info["PrescriptionSchedule"]["SunE"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["ME"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["TuesE"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["WE"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["ThursE"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["FE"]}}</td>
                                           <td align="center">{{info["PrescriptionSchedule"]["SatE"]}}</td>
                                       </tr>
                                   </tbody>
                               </table>
                           </div>
                           <img src={{info["Picture"]}} class="center-block img-responsive"/>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>

</body></html>
